<!doctype html>
<html>
<head>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
<div class="li_sen" id="newLeId">
    <div class="each_seg">
        <div class="li_pos">
            <div class="pos_lin">
                <div class="pos">int.</div>
                <div class="Defbtn"><a class="pos_open" h="ID=Dictionary,5949.1" href="javascript:void(0);"
                                       id="posbtn_0" onclick="SenseCollectionSwitch(this, 'pos_0', 'idiom_0')"></a>
                </div>
            </div>
            <div class="de_seg" id="pos_0">
                <div class="se_lis">
                    <table>
                        <tr class="def_row">
                            <td>
                                <div class="se_d">1.</div>
                            </td>
                            <td>
                                <div class="de_co">
                                    <div class="def_pa"><span class="bil">（用于问候、接电话或引起注意）哈啰，喂，你好</span><span
                                            class="val">used as a greeting when you meet sb, when you answer the telephone or when you want to attract sb's attention</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="li_exs" name="exam_n">
                    <table>
                        <tr class="def_row">
                            <td>
                                <div class="point">
                                    <div class="pp"></div>
                                </div>
                            </td>
                            <td>
                                <div class="li_ex">
                                    <div class="val_ex">Hello John, how are you?</div>
                                    <div class="bil_ex">哈啰，约翰，你好吗？</div>
                                </div>
                            </td>
                        </tr>
                        <tr class="def_row">
                            <td>
                                <div class="point">
                                    <div class="pp"></div>
                                </div>
                            </td>
                            <td>
                                <div class="li_ex">
                                    <div class="val_ex">Hello, is there anybody there?</div>
                                    <div class="bil_ex">喂，那里有人吗？</div>
                                </div>
                            </td>
                        </tr>
                        <tr class="def_row">
                            <td>
                                <div class="point">
                                    <div class="pp"></div>
                                </div>
                            </td>
                            <td>
                                <div class="li_ex">
                                    <div class="val_ex">Say hello to Liz for me.</div>
                                    <div class="bil_ex">替我向利兹问好。</div>
                                </div>
                            </td>
                        </tr>
                        <tr class="def_row">
                            <td>
                                <div class="point">
                                    <div class="pp"></div>
                                </div>
                            </td>
                            <td>
                                <div class="li_ex">
                                    <div class="val_ex">They exchanged hellos(= said hello to each other) and forced
                                        smiles.
                                    </div>
                                    <div class="bil_ex">他们相互打个招呼，勉强笑笑。</div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="se_lis">
                    <table>
                        <tr class="def_row">
                            <td>
                                <div class="se_d">2.</div>
                            </td>
                            <td>
                                <div class="de_co">
                                    <div class="def_pa"><span class="bil">（表示惊讶）嘿</span><span class="val">used to show that you are surprised by sth</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="li_exs" name="exam_n">
                    <table>
                        <tr class="def_row">
                            <td>
                                <div class="point">
                                    <div class="pp"></div>
                                </div>
                            </td>
                            <td>
                                <div class="li_ex">
                                    <div class="val_ex">Hello, hello, what's going on here?</div>
                                    <div class="bil_ex">嘿，嘿，这是在干吗？</div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="se_lis">
                    <table>
                        <tr class="def_row">
                            <td>
                                <div class="se_d">3.</div>
                            </td>
                            <td>
                                <div class="de_co">
                                    <div class="au_def"><span class="infor">(informal)</span></div>
                                    <div class="def_pa"><span class="bil">（认为别人说了蠢话或分心）喂，嘿</span><span class="val">used to show that you think sb has said sth stupid or is not paying attention</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="li_exs" name="exam_n">
                    <table>
                        <tr class="def_row">
                            <td>
                                <div class="point">
                                    <div class="pp"></div>
                                </div>
                            </td>
                            <td>
                                <div class="li_ex">
                                    <div class="val_ex">Hello? You didn't really mean that, did you?</div>
                                    <div class="bil_ex">嘿？你不会真是那个意思吧？</div>
                                </div>
                            </td>
                        </tr>
                        <tr class="def_row">
                            <td>
                                <div class="point">
                                    <div class="pp"></div>
                                </div>
                            </td>
                            <td>
                                <div class="li_ex">
                                    <div class="val_ex">I'm like, ‘Hello! Did you even listen?’</div>
                                    <div class="bil_ex">我说：“嘿！你到底有没有听我说话？”</div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>