<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Control</title>
    {% module Template('script_ref.html')%}
    <style type="text/css">
        /*.kind-box{*/
            /*height: 100px;*/
            /*border: 1px solid #FFF111;*/
            /*width: 100px;*/
        /*}*/
    </style>
    <script type="text/javascript">
        var ws=new WebSocket("ws://localhost:9999/chat");

        function get_xsrf() {
            return $("input[name='_xsrf']").val();
        }

        function add_new(){
            var no = $("#new-no").val();
            var _xsrf=get_xsrf();
            $.post("/equipment", {'no':no, 'action':'add','_xsrf':_xsrf}, function (data, status) {
                if(status === 'success'){
                    $("#result").html(data);
                    query_and_show();
                }
                else{
                    alert('Ajax失败');
                }
            });

        }

        function led_handler(no) {
            var id=no.replace('.','-');
            var data={};
            if($("#"+id).is(":checked")){
                $("#action-msg").html('turn ' +no+' on');
                data={
                    'action':'push',
                    'msg':no+'-on'
                };
                ws.send(JSON.stringify(data));
            }
            else{
                $("#action-msg").html('turn ' +no+' off');
                data={
                    'action':'push',
                    'msg':no+'-off'
                };
                ws.send(JSON.stringify(data));
            }
        }

        function query_and_show_led() {
            $.post("/equipment", {'action':'query','_xsrf':get_xsrf(),'kind':'led'},function (data, status) {
                if (status === 'success') {
                    data = JSON.parse(data);
                    var html='';
                    for(var l in data){
                        html+='<li>'
                            +JSON.stringify(data[l])
                            +'<input type="checkbox" class="led-check" '
                                + 'onclick="led_handler(\''+data[l]["no"].toString()+'\')"'
                                + 'id="'+data[l]["no"].toString().replace('.','-')+'"'
                                +'>'
                            +'</li>';
                    }
                    $("#led_box").html(html);
                }
            });
        }

        function query_and_show_client() {
            $.post("/equipment", {'action':'query','_xsrf':get_xsrf(),'kind':'client'},function (data, status) {
                if (status === 'success') {
                    data = JSON.parse(data);
                    var html='';
                    data.forEach( function(line){
                        html+='<li>'
                            +JSON.stringify(line)
                            +'</li>';
                    });
                    $("#rasp_box").html(html);
                }
            });
        }

        function query_and_show() {
            query_and_show_led();
            query_and_show_client()
        }

        function drop_all() {
            $.post("/equipment", {'action':'drop_all','_xsrf':get_xsrf()},function (data, status) {
                if (status === 'success') {
                    $("#result").html('drop all success');
                    query_and_show();
                }
                else{
                    alert('Ajax失败');
                }
            });
        }

        function register() {
            var data={
                'action':'register',
                'group':'sys'
            };
            ws.send(JSON.stringify(data));
        }

        function ws_talk(){
            var data={
                'action':'push',
                'msg':$("#group-talk").val()
            };
            ws.send(JSON.stringify(data));
        }

        ws.onmessage = function (event) {
            var data=$.parseJSON(event["data"]);
            if (data['data'] === undefined) {
                $("#talk-window").html(data['message']);
            }
            else{
                $("#talk-window").html(data['msg']);
            }
        };

        $(document).ready(function () {
            query_and_show();
            register();
        })
    </script>
</head>
<body>
    <h2>hello, {{ username }}</h2>
    <div class="index">
        <a href="#led" class="kind-box">LED</a>
        <a href="#speaker" class="kind-box">SPEAKER</a>
        <a href="#curve" class="kind-box">CURVE</a>
        <a href="#heater" class="kind-box">HEATER</a>
        <a href="/" class="kind-box">回到首页</a>
        <a href="/logout" class="kind-box">Log out</a>
    </div>
    <br>
    <div id="add-new">
        {% raw xsrf_form_html() %}
        <input id="new-no">
        <button id="new-button" onclick="add_new()">ADD NEW!</button>
        <button id="drop-all" onclick="drop_all()">DROP ALL!</button>
        <p id="result"></p>
        <input id="group-talk">
        <button id="group-talk-button" onclick="ws_talk()">SEND</button>
        <p id="talk-window"></p>

    </div>
    <br>
    <div>
        <strong>actions:</strong><span id="action-msg"></span>
    </div>
    <div>
        <a name="rasp"></a>
        <strong>RASP</strong>
        <div id="rasp_box"></div>
        <a name="led"></a>
        <strong>LED</strong>
        <div id="led_box"></div>
        <a name="speaker"></a>
        <strong>SPEAKER</strong>
        <div id="speaker_box"></div>
        <a name="curve"></a>
        <strong>CURVE</strong>
        <div id="curve_box"></div>
        <a name="heater"></a>
        <strong>HEATER</strong>
        <div id="heater_box"></div>
    </div>
</body>
</html>