<!doctype html>
<html>
<head>
    <title>index</title>
    <link rel="icon" href="../static/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon" />
    <script type="text/javascript" src="{{ static_url('jquery-3.2.1.min.js')}}"></script>
    <script type="text/javascript" src="{{static_url('socket.io.min.js')}}"></script>

</head>
<body>
<div>
    <p>
        hello
        <input id="chat">
        <button onclick="send()">send</button>
    </p>
    <p id="message">hehe</p>
    <a href="/control_panel"><button>CONTROL PANEL</button></a>
</div>
</body>
<script type="text/javascript" charset="utf-8">
    var ws=new WebSocket("ws://zannb.site/chat");
    ws.onmessage = function(event) {
        console.log(typeof(event["data"]));
        var data=$.parseJSON(event["data"]);
        console.log(data["message"]);
        $("#message").html(data["message"]);
    };

    function send() {
        ws.send(document.getElementById('chat').value );
    }

    $(function(){
        $("#chat").bind('keypress',function(event){
            if(event.keyCode == "13"){
                send();
            }
        });
    });



</script>
</html>
