<!doctype html>
<html>
<head>
    <title>index</title>
    <link rel="icon" href="../static/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon" />
    <script type="text/javascript" src="{{ static_url('jquery-3.2.1.min.js')}}"></script>
    <script type="text/javascript" src="{{static_url('socket.io.min.js')}}"></script>

</head>
<body>
<div class="old">
    <h2>hello, {{ username }}</h2>
    <p id="message">hehe</p>
    {% if log_in_already %}
        <a href="/control_panel"><button>CONTROL PANEL</button></a>
    {% end %}
</div>
<div class="new">
    <p>
        <h1>Welcome to BOBOKA</h1>
        {% if log_in_already %}
            <strong>Happy!</strong><br>
            <a href="/logout"><button>Log out</button></a>
        {% else %}
            <strong>Please Log in/Sign up!</strong><br>
            <a href="/login"><button>Log in</button></a>
            <a href="/signup"><button>Sign up</button></a>
        {% end %}
    </p>
</div>
</body>

</html>
