<!doctype html>
<html>
<head>
    <title>Log IN</title>
    <link rel="icon" href="../static/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon" />
    {% module Template('script_ref.html') %}
    <script type="text/javascript" charset="utf-8">
        var ws = new WebSocket("ws://zannb.site/chat");
        ws.onmessage = function (event) {
            console.log(event);
        }

        function send() {
            ws.send(document.getElementById('chat').value);
        }


    </script>
</head>
<body>
    <div>
    <h2>LOG IN</h2>
        <form  method="post" action="/login">
            {% raw xsrf_form_html() %}
            <p>Username:<br>
                <input name="username" type="text" value="Email/Username"
                       onfocus="if(value=='Email/Username'){value=''}"
                       onblur="if(value==''){value='Email/Username'}">
            </p>
            <p>Password:<br>
                <input name="password" type="text" value="Password"
                       onfocus="if(value=='Email/Username'){value=''}"
                       onblur="if(value==''){value='Email/Username'}">
            </p>
            <input type="submit" value="LOG IN">
        </form>
        <br>


    </div>
</body>
</html>
