<!doctype html>
<html>
<head>
    <title>show ip</title>
    <link rel="icon" href="../static/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon" />
    <script type="text/javascript" src="{{ static_url('jquery-3.2.1.min.js')}}"></script>
    <script type="text/javascript" src="{{static_url('socket.io.min.js')}}"></script>

</head>
<body>
<div>
    <p>
        raspberri ip: <br><span id="rasp_id">{{data}}</span>
    </p>
</div>
</body>
<script type="text/javascript" charset="utf-8">

</script>
</html>
